/* Features */
.feature-wrapper,
.feature-wrapper h2 a {
  color: #FFFFFF;
}

.feature-wrapper {
  width: 100%;
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #44a27a;
}

