<footer>
	<div class="layout-container footer">
		
	  {% if page.footerfirst %}
      	{{ page.footerfirst }}
      {% endif %}

      {% if page.footersecon %}
      	{{ page.footersecon }}
      {% endif %}

      {% if page.footerthird %}
      	{{ page.footerthird }}
      {% endif %}

	</div>
</footer>