    .auth-box {
        width: 48%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        font-family: sans-serif;
        padding: 0;
        display: flex;
        flex-flow:row;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 3px 1px #ccc;
        background: #fff;
    }

    .auth-box * {
        display:flow-root;
    }

    .auth-box p {
        font-size: 0.7rem;
        line-height: 1rem;
    }

    .auth-box .columns {
        width: 50%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
    }
    .auth-container{
        width: 80%;
        padding: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .auth-box .image-01{display: block;}
    .auth-box .image-02{display: none;}

    @media only screen and (max-width: 1400px) {

        .auth-box .image-01{display: none;}
        .auth-box .image-02{display: block;}

        .auth-box {
            width: 80%;
            display: block;
        }

        .auth-box .columns {
            width: 100%;
            height: auto;
            overflow: hidden;
            box-sizing: border-box;
        }

        .auth-box .columns img{
            width: 100%;
            height: auto;
        }

        .auth-container{
            width: 100%;
            padding: 30px;
            top: 0;
            left: 0;
            transform: none;
            position: relative;
        }

    }

    .auth-box h1 {
        font-size: 1.5rem;
        font-weight: bolder;
        margin: 0;
        text-transform: uppercase;
    }

    .auth-box .logo {
        width: 70px;
        position: absolute;
        right: 0;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    .auth-box input[type="text"],
    .auth-box input[type="password"],
    .auth-box input[type="email"] {
        width: auto;
        border: 1px #ccc solid;
        border-radius: 3px;
        padding: 10px;
    }

    .auth-box input[type="submit"] {
        float: right;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        color: #fff;
        border-radius: 3px;
        background-color: #333333;
        box-shadow: 0 0 3px 1px #ccc;
        border: none;
        cursor: pointer;
    }

    .auth-box .part-02 {
        width: 100%;
        margin-top: 20px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .auth-box .part-02 img {
        width: 80%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
    }

    .auth-box .part-02 div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: #333333;
        box-shadow: 0 0 3px 1px #ccc;
        overflow: hidden;
        font-size: 0.7rem;
        display: flex;
    }

    .auth-box .part-03 {
        margin-bottom: 20%;
        position: relative;
        display: none;
    }

